{% extends 'base.html.twig' %}


{% block title %}
    Agence
{% endblock %}

{% block body %}

    <div class="container mt-4 ml-5">
        <h1>Gérer les biens</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="jumbotron jumbotron-fluide">
            <div class="container">
                {{form_start(formSearch)}}
                <div class="form-row">
                    <div class="col">{{ form_row(formSearch.minSurface) }}</div>
                    <div class="col">{{ form_row(formSearch.maxPrice) }}</div>
                    <div class="col">
                        <button class="btn btn-primary">Rechercher ...</button>
                    </div>
                </div>

                {{form_end(formSearch)}}
            </div>
        </div>

        {# total items count #}
        <div class="count">
            Total:
            {{ properties.getTotalItemCount }}
            Biens

        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(properties, 'Titre', 'p.title') }}</th>
                    <th>{{ knp_pagination_sortable(properties, 'Price', 'p.price') }}</th>
                    <th>{{ knp_pagination_sortable(properties, 'Surface', 'p.surface') }}</th>
                    <th>{{ knp_pagination_sortable(properties, 'Rooms', 'p.rooms') }}</th>
                    <th>{{ knp_pagination_sortable(properties, 'Bedrooms', 'p.bedrooms') }}</th>
                    <th>{{ knp_pagination_sortable(properties, 'City', 'p.city') }}</th>
                    <th>Photo</th>
                    <th>Editer</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                {% for property in properties %}

                    <tr>
                        <td>{{ property.title }}</td>
                        <td>{{ property.formattedPrice }}</td>
                        <td>{{ property.surface }}</td>
                        <td>{{ property.rooms }}</td>
                        <td>{{ property.bedrooms }}</td>
                        <td>{{ property.city }}</td>
                        <td>
                            <img alt="..." class="card-img-top" src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('my_thumb') }}" style="width: 100px;"></td>


                        <td>
                            <a href="{{ path('admin_property_edit', {id: property.id }) }} " class="btn btn-secondary">Editer</a>

                        </td>
                        <td>
                            <form method="POST" action="{{ path('admin_property_delete', {id: property.id} ) }} " style="display: inLine-block" onsubmit="return confirm('ete vous sur de supprimer ce bien ?');">
                                <input name="_method" type="hidden" value="DELETE">
                                <input name="_token" type="hidden" value="{{ csrf_token('delete' ~ property.id) }} ">

                                <button class="btn btn-danger" type="submit">Supprimer</button>
                            </form>
                        </td>


                    </tr>

                {% endfor %}
            </tbody>
        </tbody>
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(properties) }}
    </div>

    <div class="text-right">
        <a href="{{path('admin_property_new') }} " class="btn btn-primary">Créer nouveau bien

        </a>
    </div>

</div>{% endblock %}
